
.nav {
  margin-top: 0px;
  padding-top: 0px;
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightGray;
  opacity: 0.9;
  z-index: 999;
}



.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav li {
  display: inline;
  float: left;
}

.nav li:last-child {
  border-right: none;
}

.nav li a {
  display: block;
  color: #57a2e4;
  font-family: Helvetica;
  font-size: 16;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
}

.nav li a:hover {
  color: white;
}

.nav a.active {
  background-color: #57a2e4;
  font-family: Helvetica;
  font-size: 16;
  color: white;
}

.nav li a:hover:not(.active) {
  color: #57a2e4;
  font-family: Helvetica;
  font-size: 16;
}

body {
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}
